body{
    background-color: #573a64;
}
#logo
{
     width: 100px;
     height: 100px;
        display: block;
        margin-left: 90%;
        padding-bottom: 6px;
        padding-top: 6px;
}
header
{
    background-color: blueviolet;
    width: max;
    height: 100 px;
    border-radius: 15px;
    z-index: 2;
}
#head_list li
{
    display:inline;
    list-style-type: none;
    margin-right: 100px;
    font-size: 30px;
    font-family: Impact;
    color:rgb(55, 26, 82);
}
#head_list li a:hover
{
    background-color: burlywood;
}
#head_list li a:active
{
    color: #000000;
}
#head_list li a:link {
    text-decoration: none;
  }
#head_list
{
    margin-top: 44px;
    float:left;
}
.main_content{
    height:auto;
    width:auto;
    background-color: rgb(163, 50, 255);
    border-radius: 15px;
}
#text
{
    margin-top: 0%;
    text-align:center;
}
h1
{
    font-family: 'Oswald', sans-serif;
    text-align:center;
    text-shadow: 2px 2px 5px rgb(255, 52, 52);
}
#welcome_p
{
    text-align: justify;
    margin: 0px 9px;

}
#video_about
{
    margin: 5px 8px;
}