body
{
    margin:0px;
    padding:0px;
}
#text
{
position: absolute;
width: 400px;
height: 120px;
left: 498px;
top: 252px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #595959;
}
#name
{
position: absolute;
width: 342px;
height: 50px;
left: 498px;
top: 178px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 55px;
color: #000000;
}
#occupation
{
position: absolute;
width: 180px;
height: 17px;
left: 498px;
top: 142px;
    
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 19px;
line-height: 17px;  
color: #000000;
}
#projects
{
position: absolute;
width: 899px;
height: 27px;
left: 498px;
top: 412px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;
color: #000000;
background-color: #f4a261;
text-align:left;
}

#projects_list
{
position: absolute;
width: 600px;
height: 72px;
left: 498px;
top: 447px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 24px;
color: #000000;
}
#projects_list li p
{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
color: #595959;
}
#projects_list li a
{
text-decoration: none;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
color: #595959;
}




#work_exp
{
position: absolute;
width: 899px;
height: 27px;
left: 498px;
top: 570px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;
color: #000000;
background-color: #f4a261;
text-align:left;
}
#freelance
{
position: absolute;
width: 262px;
height: 20px;
left: 498px;
top: 609px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #000000;
}
#september
{
position: absolute;
width: 242px;
height: 15px;
left: 498px;
top: 640px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color: #5D6A4E;
}
#free ul
{
position: absolute;
width: 509px;
height: 120px;
left: 514px;
top: 663px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #595959;
}
#ceo_apple
{
position: absolute;
width: 245px;
height: 20px;
left: 498px;
top: 799px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #000000;
}

#march
{
    position: absolute;
width: 228px;
height: 15px;
left: 498px;
top: 830px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color: #5D6A4E;
}
#apple ul
{
    position: absolute;
width: 509px;
height: 96px;
left: 514px;
top: 853px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #595959;
}
#ceo_face
{
position: absolute;
width: 238px;
height: 20px;
left: 498px;
top: 969px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #000000;
}
#june
{
position: absolute;
width: 225px;
height: 15px;
left: 498px;
top: 1000px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color: #5D6A4E;
}
#facebook ul
{
position: absolute;
width: 509px;
height: 72px;
left: 514px;
top: 1023px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #595959;
}
#educ
{
position: absolute;
width: 899px;
height: 27px;
left: 498px;
top: 1138px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;
background-color: #f4a261;
text-align:left;
color: #000000;
}
#col
{
position: absolute;
width: 327px;
height: 20px;
left: 498px;
top: 1177px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #3F4739;
}
#spec
{
position: absolute;
width: 132px;
height: 17px;
left: 498px;
top: 1208px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #000000;
}
#sept
{
position: absolute;
width: 242px;
height: 15px;
left: 498px;
top: 1237px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color: #5D6A4E;
}
#rectangle
{
position: absolute;
width: 370px;
height: 1319px;
left: 40px;
top: 0px;

background: #264653;
}
#photo
{
    margin-top: 20px;
    width: 366px;
    object-fit:fill;
    border-radius:180px;
    border-color: #FFFFFF;
    border-style:solid;
}
html
{
    background-color: #e9c46a;
}
#contacts h2
{   position: absolute;
    width: 104px;
    height: 27px;
    left: 30px;
    top: 400px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}
#rectangle p
{
    position: absolute;
    width: 26px;
    height: 48px;
    left: 30px;
    top: 445px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
#rectangle a
{

width: 157px;
height: 48px;
left: 106px;
top: 520px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #1F201D;
text-decoration: none;
}

#tech
{
position: absolute;
width: 121px;
height: 27px;
left: 30px;
top: 570px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;
color: #FFFFFF;
}
#tech_skills
{

position: absolute;
width: 72px;
height: 168px;
left: 20px;
top: 600px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #FFFFFF;
}
#tech_skills li
{
    color: #E24D28;
}
#tech_skills span
{
    color: #FFFFFF;
}
#soft
{
position: absolute;
width: 113px;
height: 27px;
left: 30px;
top: 800px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;
color: #FFFFFF;
}
#soft_skills
{
position: absolute;
width: 74px;
height: 96px;
left: 20px;
top: 835px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #FFFFFF;
}
#soft_skills li
{
    color: #E24D28;
}
#soft_skills span
{
    color: #FFFFFF;
}
#contacts a
{
    font-size: larger;
    color:#000000;
    font-family:'Times New Roman', Times, serif;
}
#sn
{
    position:absolute;
    justify-content: flex-start;
    bottom:1%;
    left:1%;
}
#instagram
{
    position:static;
}

#telegram
{
    position:static;
}
#education
{
    width:100px;
}
